%h1 Listing trips
= paginate @trips
%table.itunes_table
  %thead
    %tr
      %th{:scope => "col"} Name
      %th{:scope => "col"} Body O' Water
      %th{:scope => "col"} Description
      %th{:scope => "col"} Mileage
      %th{:scope => "col"} Images
      %th{:scope => "col"}
      %th{:scope => "col"}
      %th{:scope => "col"}

  - @trips.each_with_index do |trip,i|
    - if i.odd?
      %tr.odd
        %td= trip.name
        %td= trip.waterbody.name
        %td= snippet(trip.description, :word_count => 5)
        %td= trip.mileage
        - if trip.images.length > 0
          %td.happy= trip.images.length
        - else
          %td.sad= 0
        %td= link_to 'Show', trip
        %td= link_to 'Edit', edit_trip_path(trip)
        %td= link_to 'Destroy', trip, :confirm => 'Are you sure?', :method => :delete
    - else
      %tr
        %td= trip.name
        %td= trip.waterbody.name
        %td= snippet(trip.description, :word_count => 5)
        %td= trip.mileage
        - if trip.images.length > 0
          %td.happy= trip.images.length
        - else
          %td.sad= 0
        %td= link_to 'Show', trip
        %td= link_to 'Edit', edit_trip_path(trip)
        %td= link_to 'Destroy', trip, :confirm => 'Are you sure?', :method => :delete
.clearboth
= paginate @trips
%br

= link_to 'New Trip', new_trip_path
\|
= link_to 'New Body of Water', new_waterbody_path
