= form_for @waterbody do |f|
  .field
    = f.label :country
    %br
    = f.text_field :country, :value => 'USA'
  .field
    = f.label :state
    %br
    = f.text_field :state, :value => "Virginia"
  .field
    = f.label :name
    %br
    = f.text_field :name
  .field
    = f.label :water_type
    %br
    = f.select :water_type, $waterbodytypes.to_a, :prompt => true
  .actions
    = f.submit 'Save'
