<div class="container" id='login'>
  <div class="row align-items-center justify-content-center">
    <div class="card">
      <div class="card-header">
        <h2>Log in</h2>
      </div>
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fa fa-envelope-o"></i>
            </div>
          </div>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: 'Enter Email' %>
        </div>
        <div class="form-group">
          <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: 'Password' %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="form-check">
            <%= f.check_box :remember_me, class: 'form-check-input' %>
            <%= f.label :remember_me, class: 'form-check-label' %>
          </div>
        <% end -%>
        <br/>
        <div class="actions">
          <%= f.submit "Log in", class: 'btn btn-primary' %>
        </div>
      <% end %>
      <br/>
      <%= render "users/shared/links" %>
    </div>
  </div>
</div>
</div>