%ul
  - if dadmin_signed_in?
    %li= link_to "admin home", admin_path
  %li= link_to "home", root_path
  %li= link_to "clearance", clearance_path
  %li= link_to "kayaks", kayaks_path
  %li= link_to "adventures", adventures_path
  %li= link_to "faqs", faqs_path
  %li= link_to "contact", contact_path
