%h1 Listing events
= paginate @events
%table.itunes_table
  %thead
    %tr
      %th{:scope => "col"} Title
      %th{:scope => "col"} Body
      %th{:scope => "col"} Tag
      %th{:scope => "col"} Image?
      %th{:scope => "col"}
      %th{:scope => "col"}
      %th{:scope => "col"}

  - @events.each_with_index do |event,i|
    - if i.odd?
      %tr.odd
        %td= event.name
        %td= snippet(event.body)
        %td= event.tag
        - if event.image.blank?
          %td.sad NO
        - else
          %td.happy YES
        %td= link_to 'Show', event
        %td= link_to 'Edit', edit_event_path(event)
        %td= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete
    - else
      %tr
        %td= event.name
        %td= snippet(event.body)
        %td= event.tag
        - if event.image.blank?
          %td.sad NO
        - else
          %td.happy YES
        %td= link_to 'Show', event
        %td= link_to 'Edit', edit_event_path(event)
        %td= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete
.clearboth
= paginate @events
%br

= link_to 'Add Event', :controller => :events, :action => :new, :tag => 'Event'
|
= link_to 'Add News/Update', :controller => :events, :action => :new, :tag => 'News'
