- content_for :head do
  / ad-gallery
  %script{:src => "/javascripts/jquery.ad-gallery.pack.js", :type => "text/javascript"}
- if @trips
  = link_to "<-- back to Adventures", :controller => :static, :action => :adventures
  %br
  %br
  %h1= @waterbody.name

  .float_left
    - if @waterbody.image
      %img{:src  => @waterbody.image.file.medium, :title => @waterbody.image.caption}
  %div#water_description
    = @waterbody.description
  .clearfix
  %br
  %table.no_style_table
    - @trips.each do |trip|
      %tr
        %td
          = link_to trip.name, :controller => :static, :action => :adventure, :name => @waterbody.name, :trip_name => trip.name
        %td
          = snippet(trip.description, :word_count => 10)
- else
  %a{:href => "/adventure/#{@waterbody.name}"}
    <-- back to #{@waterbody.name}
  %br
  %br
  %h1 #{@waterbody.name} - #{@trip.name}
  - unless @trip.images.empty?
    .ad-gallery
      .ad-image-wrapper
      .ad-controls
      .ad-nav
        .ad-thumbs
          %ul.ad-thumb-list
            - @trip.images.each_with_index do |image,i|
              %li
                %a{:href => image.file}
                  %img{:src => image.file.thumb, :title => image.caption}
  %br
  - if @water_gauge_info
    Nearest Water Gauge:
    = @water_gauge_info[:site_name]
    %br
    %br
    %b
      Current Conditions:
    %br
    = "#{@water_gauge_info[:var1][0]}: #{@water_gauge_info[:var1][1]}"
    %br
    = "#{@water_gauge_info[:var2][0]}: #{@water_gauge_info[:var2][1]}"
    %br
    - if @trip.runnable_range
      Runnable range (in cfs):
      = @trip.runnable_range
      %br
  %br
  - if @trip.end_date?
    Dates: #{@trip.start_date.strftime("%m/%d/%Y")} to #{@trip.end_date.strftime("%m/%d/%Y")}
  - else
    Date: #{@trip.start_date.strftime("%m/%d/%Y")}
  %br
  - unless @trip.mileage.blank?
    Trip length: #{@trip.mileage} miles
    %br
  Kayaks taken:
  %p
    - display_paddler_and_kayak(@trip.paddler_kayak).each do |paddler_kayak|
      - if paddler_kayak[1].nil?
        = "#{paddler_kayak[0].name} - Retired or not-for-sale kayak"
      - else
        = "#{paddler_kayak[0].name} - "
        = link_to "#{paddler_kayak[1].full_name}", :controller => :kayaks, :action => :manufacturer_kayak, :manufacturer => paddler_kayak[1].manufacturer.name, :kayak => paddler_kayak[1].name
      %br
    %br
  %p
    = @trip.description
:javascript
  $(document).ready(function(){
      var galleries = $('.ad-gallery').adGallery({
          loader_image: '/images/gallery/loader.gif',
          animation_speed: 1000,
          effect: 'fade',
          width: 900,
          height: 500,
          slideshow: {
            enable: false
          }
      });
  });