%h1 FAQs
%br/
%ul.faq_list
  - @faqs.each do |faq|
    %li
      %a{:href => "#f#{faq.id}"}
        = faq.question

- @faqs.each do |faq|
  %br
  %a{:name => "f#{faq.id}"}
  .faq_answer
    %p
      %b= faq.question
  %br
  %p
    = faq.answer