<section class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="wow fadeInLeft">
          <h1 class="display-4">Fishing Kayaks</h1>
          <p class="lead">Virginia's only independent Malibu Kayaks dealer, bringing you the best fishing kayaks on the market.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="content news-and-events">
  <div class="container">
    <div class="row">
      <div class="col-md-8 pad-bottom-sm">
        <% unless @news.nil? %>
          <% unless @news.image.blank? %>
            <%= image_tag(@news.image.medium, class: "img-fluid float-right") %>
          <% end %>
          <h3>
            <%= @news.name %>
          </h3>
          <%= @news.body %>
        <% end %>
      </div>
      <div class="col-md-4">
        <h3>Events</h3>
        <div class="events">
          <% @events.each do |event| %>
            <h3 class="h3">
              <%= event.name %>
            </h3>
            <%= event.body %>
            <br>
            <br>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="demos" class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 text-center">
        <h2 class="display-5">Why Malibu Kayaks?</h2>
        <br/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 text-center">
        <h3 class="h5">Stability</h3>
        <div class="why-malibu-image">
          <i class="fa fa-balance-scale fa-4x"></i>
        </div>
        <br/>
        <p>
          Stability is a key component of our success. With our unique hull designs, stability is our number 1 priority.
        </p>
      </div>
      <div class="col-md-3 text-center">
        <h3 class="h5">Roto-Molded</h3>
        <div class="why-malibu-image">
          <%= image_tag('new/roto_molded.png', class: "img-fluid") %>
        </div>
        <br/>
        <p>
          Roto Molding mixes the resin evenly throughout the kayak as it's baked, eliminating uneven quality.
        </p>
      </div>
      <div class="col-md-3 text-center">
        <h3 class="h5">Special Formula Resin</h3>
        <div class="why-malibu-image">
          <%= image_tag('new/resin_powder.png', class: "img-fluid") %>
        </div>
        <br/>
        <p>
          We want our kayaks to last a long time. We use the highest grade special formula resin for durability and quality.
        </p>
      </div>
      <div class="col-md-3 text-center">
        <h3 class="h5">Capacity</h3>
        <div class="why-malibu-image">
          <i class="fa fa-suitcase fa-4x"></i>
        </div>
        <br/>
        <p>
          Our kayaks boast an average weight capacity of 400 lbs, while being one of the lightest.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 offset-md-4 text-center">
        <h3 class="h5">Made in the USA</h3>
      </div>
    </div>
    <div class="row pb-4">
      <div class="col-md-3 offset-md-3 text-center">
        <%= image_tag('new/usa_flag.png', class: "img-fluid") %>
      </div>
      <div class="col-md-3 text-center">
        <p>
          Did we forget to mention? Malibu Kayaks are made with pride, right here in America.
        </p>
        <br/>
        <a href="mailto:tomlyles@gmail.com?Subject=Learn%20More%20About%20Malibu%20Kayaks" class="btn btn-info btn-lg">Learn More</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7 pad-bottom-sm">
        <h2 class="display-5">Come Demo With Us</h2>
        <p>
          What makes Old Dominion Kayaks different from a big box store? The personal attention and devotion to making sure you get the kayak that's best for you. When you're in a sporting goods store looking at kayaks, how do you know which one you'll like or
          which one fits your physique or interests best? There's only one way to be sure, and that's to try the boat out for yourself and get advice from someone who deals only in kayaks and fitting you to the boat that's right for you.
        </p>
        <br/>
        <a href="mailto:tomlyles@gmail.com?Subject=Scheduling%20A%20Demo" class="btn btn-info btn-lg">Schedule A Demo</a>
      </div>
      <div class="col-md-5 wow fadeInRight">
        <%= image_tag('new/demos.png', class: "rounded-circle img-fluid") %>
      </div>
    </div>
  </div>
</section>
<section class="content text-center">
  <div class="container">
    <h2>Malibu Kayaks Are Great Platforms For</h2>
    <br/>
    <div class="row">
      <div class="col-md-4 wow fadeIn" data-wow-duration="1.9s" data-wow-delay="0.4s">
        <%= image_tag('new/fishing.png', class: 'rounded-circle img-fluid img-thumbnail platform-pic') %>
        <h3>Fishing</h3>
      </div>
      <div class="col-md-4 wow fadeIn" data-wow-duration="1.9s" data-wow-delay="0.8s">
        <%= image_tag('new/scuba.png', class: 'rounded-circle img-fluid img-thumbnail platform-pic') %>
        <h3>Snorkeling & Diving</h3>
      </div>
      <div class="col-md-4 wow fadeIn" data-wow-duration="1.9s" data-wow-delay="1.2s">
        <%= image_tag('new/play.png', class: 'rounded-circle img-fluid img-thumbnail platform-pic') %>
        <h3>Playing</h3>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-4 offset-md-2 wow fadeIn" data-wow-duration="1.9s" data-wow-delay="1.6s">
        <%= image_tag('new/camping.png', class: 'rounded-circle img-fluid img-thumbnail platform-pic') %>
        <h3>Camping</h3>
      </div>
      <div class="col-md-4 wow fadeIn" data-wow-duration="1.9s" data-wow-delay="2.0s">
        <%= image_tag('new/exploring.png', class: 'rounded-circle img-fluid img-thumbnail platform-pic') %>
        <h3>Exploring</h3>
      </div>
    </div>
  </div>
</section>
<section id="partners" class="content text-center">
  <div id='partners-links' class="container">
    <h2>Our Partners</h2>
    <br/>
    <div class="d-xs-block d-sm-block d-md-none hidden-partner-nav">
      <a href="http://www.malibukayaks.com/">Malibu Kayaks</a>
      &middot;
      <a href="http://www.codpaddlesports.com/" target="_blank">Crack of Dawn PaddleSports</a>
      &middot;
      <a href="http://www.seattlesportsco.com/" target="_blank">Seattle Sports</a>
      &middot;
      <a href="http://www.yakattack.us/" target="_blank">Yak Attack</a>
      &middot;
      <a href="http://www.cascadecreek.com/" target="_blank">Yak Grips</a>
      &middot;
      <a href="http://www.c-tug.com/" target="_blank">C-Tug</a>
      &middot;
      <a href="http://www.stickitanchorpins.com/" target="_blank">Stick It Anchor Pins</a>
      &middot;
      <a href="https://www.ruthlessoutdooradventures.com/" target="_blank">Ruthless Outdoor Adventures</a>
    </div>
    <div class="d-none d-md-block">
      <a href="http://www.malibukayaks.com/" target="_blank">
        <%= image_tag('new/partners/malibu-kayaks.png', class: 'partner-logo img-fluid', alt: 'Malibu Kayaks') %>
      </a>
      <a href="http://www.codpaddlesports.com/" target="_blank">
        <%= image_tag('new/partners/crack-of-dawn.png', class: 'partner-logo img-fluid', alt: 'Crack of Dawn PaddleSports') %>
      </a>
      <a href="http://www.seattlesportsco.com/" target="_blank">
        <%= image_tag('new/partners/seattle-sports.png', class: 'partner-logo img-fluid', alt: 'Seattle Sports') %>
      </a>
      <a href="http://www.yakattack.us/" target="_blank">
        <%= image_tag('new/partners/yak-attack.png', class: 'partner-logo img-fluid', alt: 'Yak Attack') %>
      </a>
      <a href="http://www.cascadecreek.com/" target="_blank">
        <%= image_tag('new/partners/cascade-creek.png', class: 'partner-logo img-fluid', alt: 'Yak Grips') %>
      </a>
      <a href="http://www.c-tug.com/" target="_blank">
        <%= image_tag('new/partners/c-tug.png', class: 'partner-logo img-fluid', alt: 'C-Tug') %>
      </a>
      <a href="http://www.stickitanchorpins.com/" target="_blank">
        <%= image_tag('new/partners/stickit.png', class: 'partner-logo img-fluid', alt: 'Stick It Anchor Pins') %>
      </a>
      <a href="https://www.ruthlessoutdooradventures.com/" target="_blank">
        <%= image_tag('new/partners/ruthless.png', class: 'partner-logo img-fluid', alt: 'Ruthless Outdoor Adventures') %>
      </a>
    </div>
  </div>
</section>