%p
  %b Name:
  = @version.name
%p
  %b Description:
  = @version.description
%p
  %b Product:
  = @version.product.name
%p
  %b Price:
  = number_to_currency(@version.price)
%p
  %b Manufacturer:
  = @version.manufacturer.name
%p
  %b Base/Standard Version?
  = @version.base_version
%br
= link_to 'Edit', edit_version_path(@version)
\|
= link_to 'All versions', versions_path
\|
= link_to 'Go to Product', :controller => :products, :action => :show, :id => @version.product_id
