%p
  %b Name:
  = @color.name
%p
  %b Hex value:
  \##{@color.description}
  %div.color_box{:style => "background-color: ##{@color.description}"}
%br
= link_to 'Edit', edit_color_path(@color)
\|
= link_to 'All colors', colors_path
