%h1 Listing features
%br
%p
  Notes: If an item has a price, it is an optional feature. If there is no price, it is a standard feature.
%br
= paginate @features
%table.itunes_table
  %thead
    %tr
      %th{:scope => "col"} Name
      %th{:scope => "col"} Description
      %th{:scope => "col"} Price
      %th{:scope => "col"} Manufacturer
      %th{:scope => "col"}
      %th{:scope => "col"}
      %th{:scope => "col"}

  - @features.each_with_index do |feature,i|
    - if i.odd?
      %tr.odd
        %td= feature.name
        %td= feature.description
        - if !feature.price.blank? && feature.price != 0
          %td= number_to_currency feature.price
        - else
          %td
        %td= feature.manufacturer.name
        %td= link_to 'Show', feature
        %td= link_to 'Edit', edit_feature_path(feature)
        %td= link_to 'Destroy', feature, :confirm => 'Are you sure?', :method => :delete
    - else
      %tr
        %td= feature.name
        %td= feature.description
        - if !feature.price.blank? && feature.price != 0
          %td= number_to_currency feature.price
        - else
          %td
        %td= feature.manufacturer.name
        %td= link_to 'Show', feature
        %td= link_to 'Edit', edit_feature_path(feature)
        %td= link_to 'Destroy', feature, :confirm => 'Are you sure?', :method => :delete
.clearboth
= paginate @features
%br

= link_to 'New Feature', new_feature_path
