<div class="container">
  <section class="content">
    <h2>Edit Profile</h2>
    <div class="row">
      <div class="col-md-6">
        <% if @user.errors.any? %>
          <div id="error_explanation" class="alert alert-danger" role="alert">
            <h2><%= pluralize(@user.errors.count, "error") %>
              prohibited this profile from being updated:</h2>

            <ul>
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <%= form_for(@user, as: :user, url: update_profile_path(@user), html: { method: :put }) do |f| %>

        <div class="form-group">
          <%= f.label :email %><br/>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>

        <%= f.label :image, 'Profile Image' %><br/>
        <% if @user.image? %>
          <br/>
          <div>
            <%= image_tag @user.image.thumb.url %>
          </div>
          <div>
            <label>
              <%= f.check_box :remove_image %>
              Remove image
            </label>
          </div>
        <% else %>
          <div class="custom-file">
            <%= f.file_field :image, id: :user_image, class: 'custom-file-input' %>
            <label class="custom-file-label" for="user_image">Choose Image</label>
            <%= f.hidden_field :image_cache %>
          </div>
        <% end %>
        <br/>
        <br/>
        <div class="actions">
          <%= f.submit "Update", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
    <div class="col-md-6">
      <form id="notification-frequency-form">
        <div class="form-group">
          <label for="fish-notification-frequency" style="display: inline-block;">Select Fish Notification Frequency</label>
          <div id="fish-notification-update" style="display: inline-block;"></div>
          <select class="form-control" id="fish-notification-frequency">
            <option disabled="disabled" selected="selected" value="value">
              -- select an option --
            </option>
            <option value="all">Notify For Every Fish</option>
            <option value="daily">Daily Summary</option>
            <option value="weekly">Weekly Summary</option>
            <option value="none">No Notifications</option>
          </select>
        </div>
        <div class="form-group">
          <label for="comment-notification-frequency" style="display: inline-block;">Select Comment Notification Frequency</label>
          <div id="comment-notification-update" style="display: inline-block;"></div>
          <select class="form-control" id="comment-notification-frequency">
            <option disabled="disabled" selected="selected" value="value">
              -- select an option --
            </option>
            <option value="all">Notify For Every Comment</option>
            <option value="daily">Daily Summary</option>
            <option value="weekly">Weekly Summary</option>
            <option value="none">No Notifications</option>
          </select>
        </div>
      </form>
    </div>
  </div>
</section>
</div>