= form_for @manufacturer do |f|
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :link, "Link to Mfrs website"
    %br/
    = f.text_field :link
  .field
    = f.label :description
    %br/
    = f.text_area :description, :cols => 40, :rows => 5
  .field
    = f.label :notes
    %br/
    = f.text_area :notes, :cols => 40, :rows => 5
  .actions
    = f.submit 'Save'
