%h1 Manufacturers
= paginate @manufacturers
%table.itunes_table
  %thead
    %tr
      %th{:scope => "col"} Name
      %th{:scope => "col"} Website
      %th{:scope => "col"} Description
      %th{:scope => "col"} Notes
      %th{:scope => "col"}
      %th{:scope => "col"}
      %th{:scope => "col"}

  - @manufacturers.each_with_index do |manufacturer,i|
    - if i.odd?
      %tr.odd
        %th= manufacturer.name
        %td
          %a{:href => manufacturer.link, :target => '_blank'}
            = manufacturer.link
        %td= snippet(manufacturer.description, :word_count => 10)
        %td= snippet(manufacturer.notes, :word_count => 10)
        %td= link_to 'Show', manufacturer
        %td= link_to 'Edit', edit_manufacturer_path(manufacturer)
        %td= link_to 'Destroy', manufacturer, :confirm => 'Are you sure?', :method => :delete
    - else
      %tr
        %th= manufacturer.name
        %td
          %a{:href => manufacturer.link, :target => '_blank'}
            = manufacturer.link
        %td= snippet(manufacturer.description, :word_count => 10)
        %td= snippet(manufacturer.notes, :word_count => 10)
        %td= link_to 'Show', manufacturer
        %td= link_to 'Edit', edit_manufacturer_path(manufacturer)
        %td= link_to 'Destroy', manufacturer, :confirm => 'Are you sure?', :method => :delete
.clearboth
= paginate @manufacturers
%br

= link_to 'New Manufacturer', new_manufacturer_path
