%h1= @manufacturer.name
%p
  %b Website:
  %a{:href => @manufacturer.link, :target => '_blank'}
    = @manufacturer.link
%p
  %b Description:
  = @manufacturer.description
%p
  %b Notes:
  = @manufacturer.notes
%br

= link_to "#{@manufacturer.name} Products", products_manufacturer_path
%br
= link_to "#{@manufacturer.name} Product Features", features_manufacturer_path
%br
%br
= link_to 'Edit', edit_manufacturer_path(@manufacturer)
\|
= link_to 'All manufacturers', manufacturers_path
