%h1 Listing images
= paginate @images
%table.itunes_table{:cellspacing=>0}
  %thead
    %tr
      %th{:scope => "col"} File
      %th{:scope => "col"} Model
      %th{:scope => "col"} For
      %th{:scope => "col"} Tag
      %th{:scope => "col"} Caption
      %th{:scope => "col"}
      %th{:scope => "col"}
      %th{:scope => "col"}

  - @images.each_with_index do |image,i|
    - if i.odd?
      %tr.odd
        %th= image.pretty_filename
        %td= image.model
        %td= link_to image.display_name, :controller => image.model.downcase.pluralize.to_sym, :action => :show, :id => image.model_id
        %td= image.tag
        %td= snippet(image.caption)
        %td= link_to 'Show', image
        %td= link_to 'Edit', edit_image_path(image)
        %td= link_to 'Destroy', image, :confirm => 'Are you sure?', :method => :delete
    - else
      %tr
        %th= image.pretty_filename
        %td= image.model
        %td= link_to image.display_name, :controller => image.model.downcase.pluralize.to_sym, :action => :show, :id => image.model_id
        %td= image.tag
        %td= snippet(image.caption)
        %td= link_to 'Show', image
        %td= link_to 'Edit', edit_image_path(image)
        %td= link_to 'Destroy', image, :confirm => 'Are you sure?', :method => :delete
.clearboth
= paginate @images
%br

= link_to 'New Image', new_image_path
