%p
  %b Tag:
  = @image.tag
%p
  %b Caption:
  = @image.caption
%p
  %b Model:
  = @image.model
%p
  %b Attached to:
  = @image.display_name
%p
  %b Image
  (click to see full image.)
  %br
  %a.fancybox_images{:href => @image.file, :rel => "group1", :title => @image.caption}
    %img{:alt => @image.caption, :src => @image.file.thumb}/

= link_to 'Edit', edit_image_path(@image)
\|
= link_to 'All images', images_path
\|
= link_to "Go to #{@image.model}", :controller => @image.model.downcase.pluralize.to_sym, :action => :show, :id => @image.model_id
- if !@image.model.constantize.respond_to?(:image_limit)
  \|
  = link_to "Add another image to this #{@image.model}", new_image_path(:model => @image.model, :model_id => @image.model_id)



